<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/adminBody}">

<th:block layout:fragment="script">
  <script th:src="@{/js/adminCommon.js}"></script>

  <script th:src="@{/js/summerNote/summernote-lite.js}"></script>
  <script th:src="@{/js/summerNote/lang/summernote-ko-KR.js}"></script>

  <script th:src="@{/js/summerNote.js}"></script>

  <script>
    const noticeUpdate = () => {
    const pass = [[${noticeUpdate.noticePass}]];
    const inputPass = document.getElementById("noticePass").value;
    if (pass == inputPass) {
     document.updateForm.submit();
     }else{
      alert("비밀번호가 일치하지 않습니다!");
      }
     }
</script>

</th:block>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/summerNote/summernote-lite.css}"/>
  <link rel="stylesheet" th:href="@{/css/adminCommon.css}" />
</th:block>


<div layout:fragment="content">
<body>
<form action="/notice/admin/update" method="post" name="updateForm">
  <input type="hidden" name="id" th:value="${noticeUpdate.id}">

  <main class="main">
    <div class="container">
      <section class="noticeSection section">
        <div class="contentWrap">
          <div class="titleBox">
            <h1 class="jal">공지사항 수정</h1>
          </div>

          <div class="inputWrap neo">

            <div class="inputBox">
              <input type="text" name="noticeWriter" th:value="${noticeUpdate.noticeWriter}" readonly placeholder="작성자를 입력하세요">
            </div>

            <div class="inputBox">
              <input type="text" name="noticePass" id="noticePass" placeholder="비밀번호를입력하세요">
            </div>

            <div class="inputBox">
              <input type="text" name="noticeTitle" th:value="${noticeUpdate.noticeTitle}" placeholder="제목을입력하세요">
            </div>

            <div class="inputBox">
              <textarea name="noticeContents" id="summerNote" th:text="${noticeUpdate.noticeContents}"></textarea>
            </div>

            <input type="hidden" name="noticeHits" th:value="${noticeUpdate.noticeHits}">

            <div class="btn neo">

              <input type="button" value="글수정" onclick="noticeUpdate()">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            </div>

          </div>
        </div>
      </section>
    </div>
  </main>
</form>
</body>
</div>

</html>