<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{body}">


<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/sub.css}" />
</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/main.js}"></script>
</th:block>
<div layout:fragment="content">
  <body>
  <main class="main neo">
    <div class="container" id="top">
      <section class="section noticeSec">
        <div class="contentWrap">
          <div class="titleBox">
            <h2 class="title jal">이벤트</h2>
          </div>

          <div class="contentArea">
            <div class="eventBox">
              <a href="./eventBoard.html"
              ><img src="/image/main/event/check.jpg"
              /></a>
            </div>

            <div class="eventBox">
              <a href="./eventBoard.html"
              ><img src="/image/main/event/quiz.jpg"
              /></a>
            </div>

            <div class="eventBox">
              <a href="./eventBoard.html"
              ><img src="/image/main/event/gift.jpg"
              /></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <div class="bottomUtill">
    <div class="localBtn pointer">
      <i class="bi bi-geo-alt-fill"></i>
    </div>

    <div class="utillBtn pointer topBtn">
      <a href="#top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <div class="utillBtn pointer eventBtn">
      <a href="/event/game"><i class="bi bi-calendar-check"></i></a>
    </div>

    <div class="utillBtn pointer inquiryBtn">
      <a href="/board/inquiry"><i class="bi bi-question-lg"></i></a>
    </div>
  </div>
  </body>
</div>
</html>