<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{body}">


<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/board.css}" />
</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/js/common.js}"></script>
</th:block>
<div layout:fragment="content">
  <body>
  <main class="main neo">
    <div class="container" id="top">
      <section class="section boardSection">
        <div class="contentWrap">
          <div class="titleBox">
            <h2 class="title jal">이벤트</h2>
          </div>

          <div class="contentBox">
            <div class="boradTitleBox">
              <h1 class="title neoB">이벤트 제목</h1>
              <div class="subTitle">
                <p class="writer"><i class="bi bi-person"></i>관리자</p>
                <p class="date"><i class="bi bi-clock"></i>2023-03-13</p>
              </div>
            </div>

            <div class="boardContent">
                <textarea name="content" id="content" readonly>
이벤트 내용
                </textarea>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <div class="bottomUtill">
    <div class="localBtn pointer">
      <i class="bi bi-geo-alt-fill"></i>
    </div>

    <div class="utillBtn pointer topBtn">
      <a href="#top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <div class="utillBtn pointer eventBtn">
      <a href="/event/game"><i class="bi bi-calendar-check"></i></a>
    </div>

    <div class="utillBtn pointer inquiryBtn">
      <a href="/board/inquiry"><i class="bi bi-question-lg"></i></a>
    </div>
  </div>
  </body>
</div>
</html>