<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf/org">


<footer class="footer neoL" th:fragment="footer">
    <div class="cntBox">
        <p class="neo">
            지금까지 <span class="themeP neoT">★22,832</span>개의 리뷰와 함께하고
            있어요.
        </p>
    </div>
    <div class="infoBox">
        <div class="menubox">
            <ul class="menuList">
                <li>서비스 이용약관</li>
                <li>개인정보 처리방침</li>
            </ul>
        </div>
        <div class="infoContent">
            <ul class="infoList">
                <li>
                    <p>
                        (34838)대전광역시 중구 중앙로 121번길 20(선화동 방산빌딩), 2층
                    </p>
                </li>
                <li class="disFlex">
                    <p>대표자명 : 오시우, 오성근</p>
                    <p>개인정보보호책임자 : 우하영, 이남호</p>
                </li>
                <li>
                    <p>사업자 등록 번호 201-04-00707</p>
                </li>
                <li>
                    <p>COPYRIGHT © ZeroFilmT04, Inc. All rights reserved</p>
                </li>
            </ul>

            <div class="contact"></div>
        </div>
    </div>
</footer>


</html>