<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{introBody}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/intro.css}" />
</th:block>

<div layout:fragment="content">
  <body>
  <main>
    <section>
      <div class="background">
        <div class="contentBox">
          <div class="titleBox">
            <div class="checkMark">
              <img src="/image/checkMark.png" alt="" />
            </div>
            <h2 class="jal">
              당신의 <span class="themeB">0</span> 번째 필름
            </h2>
          </div>

          <div class="subBox neo">
            <p>나만 알고있는 영화를 소개해주세요!</p>
            <p>당신의 취향을 기반으로 매주 새로운 영화를 추천할게요</p>
          </div>

          <div class="btn_box neoB">
            <div class="btn_login pointer">
              <a class="neo" th:href="@{/member/logins}">로그인</a>
            </div>

            <div class="btn_noLogin pointer">
              <a th:href="@{/main}">비회원으로 둘러보기</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  </body>
</div>
</html>