<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{body}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/sub.css}" />
</th:block>


<body>
<div layout:fragment="content">
  <main class="main neo">

    <div class="container" id="top">
      <section class="section loginSection">
        <div class="contentWrap">
          <form action="/member/login" role="form" method="post">
            <div class="titleBox jal">
              <h2>로그인</h2>
            </div>

            <div class="contentBox">
              <div class="inputBox">
                <label th:for="email">
                  <input  type="text" th:id="email" th:name="email" placeholder="아이디" />
                </label>
              </div>

              <div class="inputBox">
                <label th:for="pw">
                  <input  type="password" th:id="pw" th:name="password" placeholder="비밀번호" />
                </label>
              </div>

              <p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}" style="color:red; margin:10px;"></p>

              <button type="submit" class="btnBox pointer">
                <a class="neoT">로그인</a>
              </button>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <div>
                <ul class="searchMenu">
                  <!--                  <li><a href="">아이디 찾기</a></li>-->
                  <!--                  <li><a href="">비밀번호 찾기</a></li>-->
                  <li>
                    <a th:href="@{/member/new}">회원가입</a>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

  </main>

  <div class="bottomUtill">
    <div class="localBtn pointer">
      <i class="bi bi-geo-alt-fill"></i>
    </div>

    <div class="utillBtn pointer topBtn">
      <a href="#top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <div class="utillBtn pointer eventBtn">
      <a href="./event.html"><i class="bi bi-calendar-check"></i></a>
    </div>

    <div class="utillBtn pointer inquiryBtn">
      <a href="./inquiry.html"><i class="bi bi-question-lg"></i></a>
    </div>
  </div>




</div>
</body>
</html>